/* SIGN IN / SIGN UP PAGES */

 .SignInOrNewAccount{

    display:flex;
    flex-direction: column;

    width: 400px;
    margin:auto;
    background: #E9F1F5;
    border-radius: 10px;

    background: linear-gradient(180deg, rgba(121, 194, 189, 0.4875) 0%, rgba(121, 194, 189, 0.75) 95.82%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 5%;
    margin-bottom: 10%;  
    margin-top: 10%;
 }


 /* Log in/sign up to product*/
 .formTitle{

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 41px;
    text-align: center;
    color: white;
 }



 /* Click to go to the sign up page */
 .formButton{

    display:flex;
    margin:auto;
    
    width: 200px;
    height: 50px;
    left: 325px;
    top: 1421px;

    background: #FFFFFF;
    border: 2px solid rgba(3, 82, 88, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px; 
    color: #035258;
 }


input {

    border-radius: 8px;
    border: none;
    line-height: 30px; 
}


.formTitle{
    font-family: Arial, Helvetica, sans-serif;
}



.submit {

   display:flex;
   margin:auto;
   margin-top: 5%;

   
   width: 200px;
   height: 50px;
   left: 325px;
   top: 1421px;

   background: #FFFFFF;
   border: 2px solid rgba(3, 82, 88, 0.8);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;

   font-family: Noto Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 41px; 
   color: #035258;

 }
